body {
    width: 100%;
  }

header {
    width: 100%;
    height: 400px;
    border: 5px solid red;
    background-image: url('flower.jpg');
    background-size: 2000px 400px;
}


div.first-block {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    display: inline-block;
    position: relative;
    top: -100px;
    left: 20px;
    z-index: 1;
}
div.first-block img {
        width: 100%;
        height: 70%;
        display: block;
        margin: auto;
        opacity: 0.9;

}
div.first-block img:hover {
    opacity: 1;
}

div.second-block {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    top: -30px;
    left: -50px;
    z-index: 0;

    border: 30px solid;
  border-image: repeating-linear-gradient(45deg, #f33, #3bf, #f33 30px) 60;
}



div.first-block:hover {
    z-index: 1;
}
div.second-block:hover {
    z-index: 1;
}

form[action="colors"] {
    display: inline-block;
    border: 2px solid grey;
    width: 500px;
    height: 500px;
    padding: 10px;

}

form[action="colors"] div {
    display: block;
    width: 40%;
    height: 10%;
    background-color: silver;
    margin: 10px auto;
}
input[type="radio"] {
    margin: 20px;

}
input[type="radio"]:hover {
    background-color: green;
}
input[type="button"] {
    width: 200px;
    height: 30px;
    display: block;
    margin: 50px auto;  
}

.first-name {
    /* width=200px; */
    margin: 10px;
}
input[type="text"] {
    margin-top: 30px;
}
